/node_modules
/public/hot
/public/storage
/public/vendor/scribe
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/public/images/*
/public/docs/index.html
/public/docs/images/logo.png
.env.backup
.phpunit.result.cache
/.vscode
/resources/views/scribe
docker-compose.yml
docker-compose.override.yml
.env
/public/*
Dockerfile
/nginx