parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$password\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/ChangePasswordController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\Auth\\\\ForgotPasswordController\\:\\:sendResetLinkFailedResponse\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/ForgotPasswordController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Users/UserProfileController.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\Services\\\\UserService\\:\\:removeProfilePicture\\(\\) expects App\\\\Models\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Users/UserProfileController.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\Role\\\\RoleResource\\:\\:\\$created_at\\.$#"
			count: 1
			path: app/Http/Resources/Role/RoleResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\Role\\\\RoleResource\\:\\:\\$guard_name\\.$#"
			count: 1
			path: app/Http/Resources/Role/RoleResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\Role\\\\RoleResource\\:\\:\\$name\\.$#"
			count: 1
			path: app/Http/Resources/Role/RoleResource.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Resources\\\\Role\\\\RoleResource\\:\\:\\$title\\.$#"
			count: 1
			path: app/Http/Resources/Role/RoleResource.php

		-
			message: "#^PHPDoc type array of property App\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies is not covariant with PHPDoc type array\\<class\\-string, class\\-string\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Call to an undefined method Yajra\\\\DataTables\\\\DataTableAbstract\\:\\:filterColumn\\(\\)\\.$#"
			count: 1
			path: app/Repositories/BaseRepository.php

		-
			message: "#^Call to an undefined method Yajra\\\\DataTables\\\\DataTableAbstract\\:\\:orderColumn\\(\\)\\.$#"
			count: 1
			path: app/Repositories/BaseRepository.php
